@import "../themes/apollo/sass/main.scss";

img {
    border: 0px;
    max-width: 70%;
}

:root.light {
    --primary-color: #00897B;
}

:root.dark {
    --primary-color: #00897B;
    --bg-0: #313131;
}

.list-item {
    margin-bottom: .25rem;
}

blockquote cite {
    display: block;
    text-align: right;
}

// 脚注参照の上付き文字リンクには下線不要
.footnote-reference a,
.footnote-definition-label {
    border-bottom: none;
}

// 脚注リスト全体のレイアウト
.footnote-definition {
    display: flex;
    gap: 0.4em;
    font-size: 0.85em;
    color: var(--text-1, grey);
    margin-top: 0.3em;

    p {
        margin: 0;
    }
}
